[init]
	defaultBranch = main
[user]
	name = Sven Bergner
        email = sven.bergner@gmail.com
        ; signingKey = 0x3F36A661
[commit]
        gpg-sign = true
[tag]
        gpg-sign = true
[push]
        default = simple
	autoSetupRemote = true
        followTags = true
	useForceIfIncludes = true
[pull]
        rebase = true
[rerere]
	enabled = true
	autoUpdate = true
[column]
        ui = auto 
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[diff]
        algorithm = histogram
        colorMoved = plain
        menomicPrefix = true
        renames = true
[help]
        autoCorrect = prompt
[rebase]
        autoStash = true
        autoSquash = true
        updateRefs = true
[alias]
	loglog = log --oneline --graph --all
