[init]
	defaultBranch = main
[user]
	name = Sven Bergner
[commit]
        gpgsign = true
[tag]
        gpgsign = true
[push]
        default = simple
	autoSetupRemote = true
        followTags = true
	useForceIfIncludes = true
[pull]
        rebase = true
[rerere]
	enabled = true
	autoUpdate = true
[column]
        ui = auto 
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[diff]
        algorithm = histogram
        colorMoved = plain
        menomicPrefix = true
        renames = true
[help]
        autoCorrect = prompt
[rebase]
        autoStash = true
        autoSquash = true
        updateRefs = true
[alias]
	loglog = log --oneline --graph --all

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
    side-by-side = true  # show added and removed lines in a side-by-side view
    line-numbers = true  # show line numbers in the diff output

[merge]
    conflictStyle = zdiff3
